controller_manager:
  ros__parameters:
    update_rate: 50

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

diff_drive_controller:
  ros__parameters:
    left_wheel_names: ["left_wheel_1"]
    right_wheel_names: ["right_wheel_1"]

    wheel_separation: 0.22
    wheel_radius: 0.05

    base_frame_id: base_footprint
    odom_frame_id: odom
    publish_tf: true
